body {
    background-color: #fff;
    color: #333;
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    margin-top: 1.3em 1.5em;
}

a {
    color: #55a5d9;
    text-decoration: none;
}

a:hover {
    color: #8442c6; 
}
