body {
    background-color: #fff;
    color: #333;
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    margin-top: 3.5rem;
    padding: .5em 1.5em;
}

a {
    color: #55a5d9;
    text-decoration: none;
}

blockquote {
     border-left:#eee solid 5px;
     padding-left:20px;
}

ul li {
     line-height: 20px;
}

code {
     color:#D34B62;
     background: #F6F6F6;
}
