body {
    background-color: #fff;
    color: #333;
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    margin-top: 3.5rem;
}

a {
    color: #55a5d9;
    text-decoration: none;
}

a:hover {
    color: #8442c6; 
}

.tb {
    background-color: #fff;
    box-shadow: 0 0 3px;
    position: fixed;
    top: 0;
    height: 1rem;
    left: 0;
    width: 100%;
    padding: 1rem;
}
